/* ---------------- */
/* Custom Properties */
/*------------------*/
:root {
    /* color */
    --clr-dark: 230 35% 7%;
    --clr-medium: 231 77% 90%;
    --clr-light: 0 0% 100%;
    --clr-text-light: #fff;
    --clr-text-medium: #D0D6F9;
    --clr-text-dark: #0B0D17;
    
    /* fonts */
    /* take pixel size and divide by 16 */
    --fs-900: 9.375;
    --fs-800: 6.25;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;

    /*font families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;


}


/* ---------------- */
/* Resets            */
/*------------------*/

/* Box Sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

/* body setup */

body {
    line-height: 1.5;
    min-height: 100vh;
}

/* Make images easier to work with */
img, picture {
    max-width: 100%;
    display: block;
}

/* make forms easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who have turned them off */
@media(prefers-reduced-motion: reduce)
{
    *,
    *::before,
    *::after {
        animation-duration: 0 !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ---------------- */
/* Utility class    */
/*------------------*/
.flex {
    display: flex;
    gap: var(--gap, 1rem)
}

.grid {
    display: grid;
    gap: var(--gap, 1rem)
}

.container {
    max-width: 80rem;
    padding-inline: 2em;
    margin-inline: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

/* colors */

.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-medium {
    background-color: hsl(var(--clr-medium))
}

.bg-light {
    background-color: hsl(var(--clr-light))
}

.text-dark {
    color: var(--clr-text-dark);
}

.text-medium {
    color: var(--clr-text-medium);
}

.text-light {
    color: var(--clr-text-light)
}


/* components */



